---
import { APP_METADATA } from "../constants";
import {
  dot,
  footer,
  footerActions,
  info,
  inlineLink,
  socialLink,
  socialLinks,
} from "./Footer.css";
import SocialLinks from "./SocialLinks.astro";
import ThemeToggle from "./ThemeToggle.astro";
---

<footer class={footer}>
  <div class={info}>
    <span>&copy; {new Date().getFullYear()} {APP_METADATA.author}</span>
    <span class={dot} />
    <span>Built with <a href="https://astro.build" class={inlineLink}>Astro</a></span>
  </div>
  <div class={footerActions}>
    <div class={socialLinks}><SocialLinks size={16} linkClass={socialLink} /></div>
    <ThemeToggle />
  </div>
</footer>
