---
import ThemeToggle from "./ThemeToggle.astro";
import { header, logo, rightGroup, nav, navLink } from "./Header.css";
import { SITE_NAME } from "../consts";
---

<header class={header}>
  <a href="/" class={logo}>{SITE_NAME}</a>
  <div class={rightGroup}>
    <nav class={nav}>
      <a href="/archive" class={navLink}>Archive</a>
      <a href="/about" class={navLink}>About</a>
    </nav>
    <ThemeToggle />
  </div>
</header>
