---
import { menuBtn, menuLine } from "./Header.css";
---

<button id="menu-open" class={menuBtn} type="button" aria-label="Open menu" aria-expanded="false">
  <span class={menuLine}></span>
  <span class={menuLine}></span>
  <span class={menuLine}></span>
  <span class={menuLine}></span>
  <span class={menuLine}></span>
</button>
