---
import { Icon } from "astro-icon/components";
import { SOCIAL_LINKS } from "../constants";

interface Props {
  size?: number;
  linkClass?: string;
}

const { size = 16, linkClass } = Astro.props;
---

<a
  href={SOCIAL_LINKS.twitter}
  class={linkClass}
  target="_blank"
  rel="noopener noreferrer"
  aria-label="X (Twitter)"
>
  <Icon name="simple-icons:x" size={size} />
</a>
<a
  href={SOCIAL_LINKS.github}
  class={linkClass}
  target="_blank"
  rel="noopener noreferrer"
  aria-label="GitHub"
>
  <Icon name="simple-icons:github" size={size} />
</a>
<a
  href="/rss.xml"
  class={linkClass}
  aria-label="RSS Feed"
>
  <Icon name="lucide:rss" size={size} />
</a>
